<h1>This account already exists</h1>
<p>Please contact <a href="mailto:office@roccloudy.com">office@roccloudy.com</a> to change your existing account.</p>
<p>Your existing account belongs to user <%= @alert.user.email %></p>
